*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
	scroll-behavior: smooth;
}

header {
	background: #008000;
	color: #eaeaea;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center; 
	gap: 10px;
}

.logo {
	margin-right: auto;
	display: flex;
	gap: 20px;
	font-family: forte;
}

.logo-img {
	width: 35px;
	height: 35px;
	margin-left: 12px;
}

.logo-title {
   font-family: forte;
}


.btn-cta {
	margin-right: 15px;
	border: none;
	font-size: 15px;
	padding: 7px 13px;
	background: #393939;
	color: #eaeaea;
	border-radius: 9px;
	cursor: pointer;
}
	
nav ul{
	 display: flex;
	 padding: 20px;
}

li {
	list-style-type: none;
	padding: 15px;
}

li a {
	transition: all .5s ease 0s;
	display: inline-block;
}

li a:hover {
	color: #FF6A3D;
	transform: rotate(2deg);
}
a {
   color: #eaeaea;
   text-decoration: none;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 80px 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	text-align: center;
}

.title {
	font-size: 25px;
	font-weight: bold;
}

.description {
	font-size: 30px;
	font-weight: bolder;
}

.material {
	font-size: 15px;
	font-weight: reguler;
}

.img-foto {
	width: 100%;
	max-width: 400px;
	height: auto;
	padding: 15px;
}

.parallax {
	background-image: url('ASET/LOGO WEB/wanmai studio design 2.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 450px;
	height: 100vh;
}

.tentang {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #008000;
	color: #eaeaea;
	padding: 27px;
}

.mt-10 {
	margin-top: 15px;
} 

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card-item {
	text-align: center;
	margin: 10px;
	width: 22%;
	background: #f7f7f7;
	color: #222;
	padding: 26px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0,0,0.5);
}

.card-description{
	font-size: 17px;
	font-weight: bolder;
}

footer {
    padding: 20px;
	text-align: center;
	background: #008000;
	background-size: auto;
	color: #eaeaea;
	font-family: forte;
}	

@media screen and (max-width: 500px) {
	.card {
		flex-direction: column;
	}
	.card-item {
		width: 100%;
	}
	.container {
		width: 100%;
		padding: 0;
	}
	.intro {
		margin-top: 20px
	}
	.img-foto: {
		padding: 0;
	}
}